In [39]:
import pandas as pd
import numpy as np

In [40]:
pur=pd.read_csv('서울 목적.csv', encoding='cp949')

pur = pur.pivot(index='기초지자체', columns='카테고리중분류명 ', values='중분류 검색건수').reset_index()
pur = pur.fillna(0)
pur['합계'] = pur.sum(axis=1)

for index, row in pur.iterrows():
    for j in range(1, 10):
        pur.iloc[index, j] = round(pur.iloc[index, j] / pur.iloc[index, 10], 5)
        
pur = pur.drop(columns='합계')

for index, row in pur.iterrows():
    pur.iloc[index, 0]='서울특별시 '+str(pur.iloc[index, 0])

pur

C:\Users\young0tete\AppData\Local\Temp\ipykernel_14348\2213694750.py:5: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  pur['합계'] = pur.sum(axis=1)

카테고리중분류명,기초지자체,기타관광,레저스포츠,문화관광,쇼핑,숙박,역사관광,음식,자연관광,체험관광
0,서울특별시 강남구,0.02445,0.00135,0.14622,0.15373,0.14805,0.01135,0.51481,0.00000,0.00004
1,서울특별시 강동구,0.00196,0.00592,0.13217,0.21417,0.05271,0.01978,0.57290,0.00000,0.00039
2,서울특별시 강북구,0.01486,0.00203,0.08884,0.22765,0.11622,0.12546,0.41944,0.00548,0.00002
3,서울특별시 강서구,0.36827,0.01217,0.07743,0.24055,0.06479,0.00436,0.23224,0.00000,0.00018
4,서울특별시 관악구,0.00041,0.00229,0.08174,0.32430,0.08137,0.01368,0.48629,0.00984,0.00007
5,서울특별시 광진구,0.05569,0.00597,0.28481,0.15131,0.18686,0.00970,0.30106,0.00040,0.00420
6,서울특별시 구로구,0.00020,0.00061,0.12524,0.49196,0.11671,0.00234,0.24058,0.02235,0.00002
7,서울특별시 금천구,0.00000,0.00039,0.07947,0.57699,0.09059,0.01579,0.23646,0.00004,0.00026
8,서울특별시 노원구,0.00958,0.05205,0.08975,0.55894,0.01911,0.00759,0.26200,0.00085,0.00013
9,서울특별시 도봉구,0.00224,0.00409,0.09211,0.43449,0.04790,0.01135,0.40471,0.00310,0.00002
10,서울특별시 동대문구,0.00997,0.00652,0.04766,0.46487,0.05491,0.00740,0.40315,0.00222,0.00330
11,서울특별시 동작구,0.00075,0.00012,0.16922,0.17420,0.08473,0.02062,0.55032,0.00001,0.00002
12,서울특별시 마포구,0.00218,0.00183,0.23590,0.15150,0.11184,0.00568,0.49070,0.00016,0.00020
13,서울특별시 서대문구,0.00038,0.00074,0.16091,0.22349,0.12319,0.03589,0.45439,0.00091,0.00011
14,서울특별시 서초구,0.04125,0.00138,0.15525,0.30048,0.10065,0.02593,0.36374,0.01124,0.00009
15,서울특별시 성동구,0.00011,0.00005,0.24917,0.32219,0.02042,0.00091,0.40593,0.00093,0.00029
16,서울특별시 성북구,0.00166,0.03193,0.05908,0.32486,0.03498,0.07927,0.46815,0.00000,0.00008
17,서울특별시 송파구,0.00217,0.00352,0.20384,0.36850,0.08621,0.00273,0.32544,0.00746,0.00014
18,서울특별시 양천구,0.00000,0.04521,0.12026,0.47923,0.00375,0.00560,0.34582,0.00002,0.00011
19,서울특별시 영등포구,0.00922,0.00496,0.14969,0.45143,0.11021,0.00021,0.27378,0.00048,0.00001
20,서울특별시 용산구,0.10168,0.00162,0.28083,0.13975,0.14226,0.00267,0.31931,0.01186,0.00002
21,서울특별시 은평구,0.02282,0.00069,0.07129,0.42444,0.04185,0.07950,0.35586,0.00342,0.00013
22,서울특별시 종로구,0.05857,0.00099,0.25413,0.10729,0.12158,0.14701,0.30866,0.00166,0.00010
23,서울특별시 중구,0.00446,0.00083,0.09207,0.38747,0.29497,0.00826,0.21188,0.00000,0.00005
24,서울특별시 중랑구,0.00746,0.00173,0.08465,0.58274,0.02902,0.00562,0.28863,0.00000,0.00016

In [41]:
def makedf (df, 지역):
    a=지역+' 목적.csv'
    
    pur=pd.read_csv(a, encoding='cp949')

    pur = pur.pivot(index='기초지자체', columns='카테고리중분류명 ', values='중분류 검색건수').reset_index()
    pur = pur.fillna(0)
    pur['합계'] = pur.sum(axis=1)

    for index, row in pur.iterrows():
        for j in range(1, 10):
            pur.iloc[index, j] = round(pur.iloc[index, j] / pur.iloc[index, 10], 5)
        
    pur = pur.drop(columns='합계')

    for index, row in pur.iterrows():
        pur.iloc[index, 0]=지역+' '+str(pur.iloc[index, 0])

    df = pd.concat([df, pur], ignore_index=True)
    
    return df

In [42]:
df=pur.copy()

df=makedf(df, '경기도')
df=makedf(df, '경상남도')
df=makedf(df, '경상북도')
df=makedf(df, '광주광역시')
df=makedf(df, '대구광역시')
df=makedf(df, '대전광역시')
df=makedf(df, '부산광역시')
df=makedf(df, '강원도')
df=makedf(df, '세종특별자치시')
df=makedf(df, '울산광역시')
df=makedf(df, '인천광역시')
df=makedf(df, '전라남도')
df=makedf(df, '전라북도')
df=makedf(df, '제주특별자치도')
df=makedf(df, '충청남도')
df=makedf(df, '충청북도')
df

C:\Users\young0tete\AppData\Local\Temp\ipykernel_14348\2810201628.py:8: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  pur['합계'] = pur.sum(axis=1)
C:\Users\young0tete\AppData\Local\Temp\ipykernel_14348\2810201628.py:8: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  pur['합계'] = pur.sum(axis=1)
C:\Users\young0tete\AppData\Local\Temp\ipykernel_14348\2810201628.py:8: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  pur['합계'] = pur.sum(axis=1)
C:\Users\young0tete\AppData\Local\Temp\ipykernel_14348\2810201628.py:8: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  pur['합계'] = pur.sum(axis=1)
C:\Users\young0tete\AppData\Local\Temp\ipykernel_14348\2810201628.py:8: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  pur['합계'] = pur.sum(axis=1)
C:\Users\young0tete\AppData\Local\Temp\ipykernel_14348\2810201628.py:8: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  pur['합계'] = pur.sum(axis=1)
C:\Users\young0tete\AppData\Local\Temp\ipykernel_14348\2810201628.py:8: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  pur['합계'] = pur.sum(axis=1)
C:\Users\young0tete\AppData\Local\Temp\ipykernel_14348\2810201628.py:8: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  pur['합계'] = pur.sum(axis=1)
C:\Users\young0tete\AppData\Local\Temp\ipykernel_14348\2810201628.py:8: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  pur['합계'] = pur.sum(axis=1)
C:\Users\young0tete\AppData\Local\Temp\ipykernel_14348\2810201628.py:8: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  pur['합계'] = pur.sum(axis=1)
C:\Users\young0tete\AppData\Local\Temp\ipykernel_14348\2810201628.py:8: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  pur['합계'] = pur.sum(axis=1)
C:\Users\young0tete\AppData\Local\Temp\ipykernel_14348\2810201628.py:8: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  pur['합계'] = pur.sum(axis=1)
C:\Users\young0tete\AppData\Local\Temp\ipykernel_14348\2810201628.py:8: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  pur['합계'] = pur.sum(axis=1)
C:\Users\young0tete\AppData\Local\Temp\ipykernel_14348\2810201628.py:8: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  pur['합계'] = pur.sum(axis=1)
C:\Users\young0tete\AppData\Local\Temp\ipykernel_14348\2810201628.py:8: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  pur['합계'] = pur.sum(axis=1)
C:\Users\young0tete\AppData\Local\Temp\ipykernel_14348\2810201628.py:8: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  pur['합계'] = pur.sum(axis=1)

카테고리중분류명,기초지자체,기타관광,레저스포츠,문화관광,쇼핑,숙박,역사관광,음식,자연관광,체험관광
0,서울특별시 강남구,0.02445,0.00135,0.14622,0.15373,0.14805,0.01135,0.51481,0.00000,0.00004
1,서울특별시 강동구,0.00196,0.00592,0.13217,0.21417,0.05271,0.01978,0.57290,0.00000,0.00039
2,서울특별시 강북구,0.01486,0.00203,0.08884,0.22765,0.11622,0.12546,0.41944,0.00548,0.00002
3,서울특별시 강서구,0.36827,0.01217,0.07743,0.24055,0.06479,0.00436,0.23224,0.00000,0.00018
4,서울특별시 관악구,0.00041,0.00229,0.08174,0.32430,0.08137,0.01368,0.48629,0.00984,0.00007
...,...,...,...,...,...,...,...,...,...,...
245,충청북도 청주시 상당구,0.06853,0.03706,0.16968,0.09680,0.08553,0.03791,0.48056,0.02051,0.00342
246,충청북도 청주시 서원구,0.00853,0.04896,0.05550,0.12805,0.01612,0.01014,0.71611,0.00008,0.01651
247,충청북도 청주시 청원구,0.21069,0.05692,0.10181,0.05066,0.09217,0.01371,0.46410,0.00815,0.00179
248,충청북도 청주시 흥덕구,0.28158,0.03650,0.04228,0.18829,0.07801,0.00113,0.37103,0.00073,0.00045
249,충청북도 충주시,0.07417,0.25690,0.07166,0.06268,0.12648,0.01087,0.32397,0.04766,0.02563

In [49]:
visit=pd.read_csv('방문자수.csv', encoding='cp949')
visit=visit[['지역', '외부방문자 수']]
visit['외부방문자 수'] = round(visit['외부방문자 수'].replace(',', '', regex=True).astype(float)* 0.08942411764705882*1000)
visit.rename(columns={'지역': '기초지자체'}, inplace=True)

visit

            기초지자체      외부방문자 수
0         강원도 강릉시   31993893.0
1         강원도 고성군   11720014.0
2         강원도 동해시   10742519.0
3         강원도 삼척시   10514935.0
4         강원도 속초시   22412903.0
..            ...          ...
245  충청북도 청주시 서원구   26257961.0
246  충청북도 청주시 청원구   23234532.0
247  충청북도 청주시 흥덕구   31567339.0
248      충청북도 충주시   21624987.0
249     서울특별시 강남구  191488692.0

[250 rows x 2 columns]

In [50]:
before=pd.merge(df, visit, on='기초지자체')

for i in range(250):
    for j in range(1, 10):
        a.iloc[i, j] = round(a.iloc[i, j] * a.iloc[i, 10])

before

,기초지자체,기타관광,레저스포츠,문화관광,쇼핑,숙박,역사관광,음식,자연관광,체험관광,외부방문자 수
0,서울특별시 강남구,4681899.0,258510.0,27999477.0,29437557.0,28349901.0,2173397.0,98580294.0,0.0,7660.0,191488692.0
1,서울특별시 강동구,86946.0,262613.0,5863096.0,9500638.0,2338230.0,877446.0,25413995.0,0.0,17301.0,44360264.0
2,서울특별시 강북구,419085.0,57251.0,2505485.0,6420236.0,3277662.0,3538251.0,11829140.0,154548.0,564.0,28202221.0
3,서울특별시 강서구,25319180.0,836708.0,5323442.0,16538216.0,4454421.0,299757.0,15966889.0,0.0,12375.0,68751676.0
4,서울특별시 관악구,20944.0,116978.0,4175451.0,16565924.0,4156550.0,698803.0,24840712.0,502648.0,3576.0,51082096.0
...,...,...,...,...,...,...,...,...,...,...,...
245,충청북도 청주시 상당구,1850280.0,1000604.0,4581285.0,2613557.0,2309272.0,1023553.0,12974907.0,553761.0,92338.0,26999556.0
246,충청북도 청주시 서원구,223980.0,1285590.0,1457317.0,3362332.0,423278.0,266256.0,18803588.0,2101.0,433519.0,26257961.0
247,충청북도 청주시 청원구,4895284.0,1322510.0,2365508.0,1177061.0,2141527.0,318545.0,10783146.0,189361.0,41590.0,23234532.0
248,충청북도 청주시 흥덕구,8888731.0,1152208.0,1334667.0,5943814.0,2462568.0,35671.0,11712430.0,23044.0,14205.0,31567339.0
249,충청북도 충주시,1603925.0,5555459.0,1549647.0,1355454.0,2735128.0,235064.0,7005847.0,1030647.0,554248.0,21624987.0

In [ ]:
before.to_csv('before.csv', index=False, encoding='cp949')